body {
    margin: 0;
    padding: 0;
}

button {
    background-color: #4CAF50;
    border: 4px solid #4CAF50;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 50px;
}

button:hover {
    background-color: white;
    color: #4CAF50;
    border: 4px dashed #4CAF50;
}

#button_container {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width:1000px) {
    #button_container {
        height: 1300px;
    }
}

#remain_count {
    font-size: 25px;
    color: #4CAF50;
}

.slider {
    width: 300px;
    padding-bottom: 10px !important;
}

#slider1 {
    margin-bottom: 15px;
    margin-top: 5px;
}

#slider2 {
    margin-bottom: 5px;
}

#option_container {
    color: #8080804a;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-evenly;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

#img_catalog {
    padding-left: 30px;
}

#promotion {
    animation: blingbling 3s cubic-bezier(0.68, -0.55, 0, 1.96) alternate infinite;
}

@keyframes blingbling {
    from {
        color: red;
        transform: rotateX(-30deg);
    }

    50% {
        color: green;
    }

    to {
        color: blue;
        transform: rotateY(90deg) translateX(-1300px) translateY(150px);
    }
}

#path_filter {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

#option_show_delete_button {
    font-size: 20px;
    font-weight: bold;
    color: #db979f;
}

#delete_button {
    border: 3px dashed #db979f;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #db979f;
    font-weight: bold;
    cursor: pointer;
}

#delete_component_container {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
}
